body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(255, 254, 249);
}

header {
  background: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#filters {
  text-align: center;
  margin: 1rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 5px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

button:hover {
  background: #bbb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.details {
  display: none;
  margin-top: 10px;
}

.card.active .details {
  display: block;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.415);
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(255, 255, 255, 0.526);
  backdrop-filter: blur(3px);
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  animation: fadeIn 0.3s ease;
  position: relative;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}